<ion-header>
  <ion-toolbar>
    <ion-title color="danger">
      食物派
    </ion-title>
    <ion-icon name="camera" slot="end" color="danger" style="font-size: 2em"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-img src="assets/resource/ic_avatar.png"></ion-img>
        <ion-label>
          <h3>火腿玉米羹</h3>
          <p>时间是否会及时发货时间发货建设规划建设的规划建设的规划建设的</p>
        </ion-label>
        <ion-item-options>
          <ion-item-option color="light">
            毛衫
          </ion-item-option>
          <ion-item-option color="light">
            <ion-icon name="heart" color="medium"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
